In [ ]:
!pip install neo4j

In [2]:
from neo4j import GraphDatabase
import pandas as pd

In [11]:
from neo4j import GraphDatabase

uri = "neo4j+s://5ee17651.databases.neo4j.io"
password = "Xt79kmF2M9VOc5zPouJBIFcihMd792ExxQmwbclsqDM"

graphdb = GraphDatabase.driver(uri,
                               auth=("neo4j", password))
session = graphdb.session()

In [6]:
# Ví dụ cách dùng query
# Viết lệnh query
query = "MATCH (n:member) RETURN n LIMIT 5;"
# Run query
nodes = session.run(query)

for node in nodes:
    properties = node["n"] # n được gán là member (query)
    for key in properties.keys():
        value = properties[key]
        print(key, ':', value)
    print('---------')

member_id : 2069
hometown : Brentwood
city : Brentwood
name : Wesley Duffee-Braun
lon : -86.79
state : TN
lat : 36.0
---------
member_id : 8386
hometown : Nashville
city : Nashville
name : Tim
lon : -86.78
state : TN
lat : 36.07
---------
member_id : 9205
hometown : Brentwood
city : Brentwood
name : Brenda
lon : -86.79
state : TN
lat : 36.0
---------
member_id : 17903
city : Nashville
name : Steve
lon : -86.8
state : TN
lat : 36.13
---------
member_id : 20418
hometown : Huntington, WV
city : Nashville
name : Andrea Reynolds
lon : -86.72
state : TN
lat : 36.17
---------

In [38]:
query = "MATCH p=()-[r:group_edges]->() RETURN p, r.weight AS weight;"
result = session.run(query)

group1 = []
group2 = []
weight=[]
for record in result:
    start_node = record["p"].nodes[0]["group_id"]
    end_node = record["p"].nodes[-1]["group_id"]
    weight_node = record["weight"]

    group1.append(start_node)
    group2.append(end_node)
    weight.append(weight_node)

df_gr_edge= pd.DataFrame({'group1': group1, 'group2':group2, 'weight': weight})

***Ví dụ về record["p"] sau khi query***
<Path

start=<Node

	element_id='4:fbbc4b84-639e-405b-abed-92d884ffe2c8:28215'
	labels=frozenset({'group'})
	properties={'category_name': 'Fitness', 'category_id': 9, 'group_name': 'CityWalks', 'group_id': 23515107, 'organizer_id': 152361762, 'num_members': 654, 'group_urlname': 'meetup-group-TiEtxQpU'}>

end=<Node

	element_id='4:fbbc4b84-639e-405b-abed-92d884ffe2c8:28003'
	labels=frozenset({'group'})
	properties={'category_name': 'Dancing', 'category_id': 5, 'group_name': '¡Diablos Que Bailan! (Salsa Nashville)', 'group_id': 526316, 'num_members': 3472, 'organizer_id': 12229328, 'group_urlname': 'diablos-que-bailan'}>

size=1>

In [30]:
df_gr_edge[0:50]

      group1    group2  weight
0   19292162    535553       2
1   19292162  19194894       1
2   19292162  19728145       1
3   19292162  18850080       2
4   19292162   1728035       1
5   19292162  22817838       2
6   19292162  19997487       2
7   19292162  18855476       2
8   19292162  18955830       1
9   19292162  11294262       1
10  19292162   1360698       2
11  19292162   1179719       1
12  19292162   1457232       1
13  19292162  13560402       1
14  19292162   7151442       1
15  19292162  18506072       1
16  19292162  16477792       2
17  19292162  20947040       1
18  19292162   5618532       1
19  19292162  11625832       5
20  19292162  18837102       1
21  19292162   7130232       1
22  19292162   3173762       1
23  19292162  16487812       5
24  19292162   7836842       6
25  19292162  17467312       3
26  19292162  16447162       1
27  19292162   9376702       3
28  19292162   6707902       2
29  19292162  10178242      12
30  19292162  14546632       1
31  19292162  14649032       1
32  19292162   4705492       1
33  19292162  18616278       1
34  19292162    526316       2
35  19292162  10016242       5
36  19292162  19654655       1
37  21182471   1187715       1
38  21182471  25357512       1
39  21182471  19728145       2
40  21182471   7699922       1
41  21182471  20940321       1
42  21182471  18801828       1
43  21182471   1642477       1
44  21182471  18243826       1
45  21182471  18297014       2
46  21182471   1473660       1
47  18288648  21715712       1
48  18288648  18562307       1
49  18288648    541319       1

In [34]:
query = "MATCH p=()-[r:member_edges]->() RETURN p, r.weight AS weight"
result = session.run(query)

member1 = []
member2 = []
weight=[]
for record in result:
    start_node = record["p"].nodes[0]["member_id"]
    end_node = record["p"].nodes[-1]["member_id"]
    weight_node = record["weight"]

    member1.append(start_node)
    member2.append(end_node)
    weight.append(weight_node)

df_member_edge= pd.DataFrame({'member1': member1, 'member2':member2, 'weight': weight})

In [36]:
df_member_edge[0:50]

    member1    member2  weight
0      2069  217563086       1
1      2069  206403963       1
2      2069  195767229       1
3      2069   55029192       1
4      2069  184547023       1
5      2069   13015711       2
6      2069  192434667       1
7      2069  127994682       1
8      2069  192899035       1
9      2069  101312342       2
10     2069  198291973       1
11     2069  198105506       1
12     2069  209078263       1
13     2069   33991242       1
14     2069   47572122       1
15     2069  194883200       1
16     2069   95168392       1
17     2069  201249049       1
18     2069  136399942       1
19     2069  190272148       1
20     2069   57907252       1
21     2069  191135384       1
22     2069  214480697       1
23     2069  127214502       1
24     2069  188661696       1
25     2069  132968302       1
26     2069  207978090       1
27     2069  225797989       1
28     2069  217309361       1
29     2069   39303612       1
30     2069  206598883       1
31     2069   11648968       1
32     2069  221128997       1
33     2069  199324203       1
34     2069  230028756       1
35     2069  189029901       1
36     2069  204914631       1
37     2069  211626236       1
38     2069  220289486       1
39     2069  197376374       1
40     2069   87193852       1
41     2069   33828812       1
42     2069   71851852       1
43     2069  135819732       1
44     2069  195799113       1
45     2069   56277052       1
46     2069   59013012       1
47     2069  104166382       1
48     2069  227909011       1
49     2069   49850062       2